/* Reset default styles and set a background color */
body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-family: "Open Sans", sans-serif;
}

/* Global text styles */
body, h1, h2, h3, p {
    color: #333;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

/* Header styles */
header {
    background: #839cad;
    color: #fff;
    text-align: center;
    padding: 40px;
}

.header .profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.header h1 {
    font-size: 36px;
}

.header p {
    font-size: 20px;
}

/* Section styles */
section {
    background: #fff;
    margin: 20px;
    margin-bottom: 50px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 28px;
    color: #7eacca;
}

section ul {
    list-style: none;
    padding: 0;
}

section li {
    margin: 20px 0;
}

/* Skills list styles */
.skills ul {
    display: flex;
    flex-wrap: wrap;
}

.skills li {
    background: #839cad;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 10px;
    font-size: 18px;
}

/* Navigation bar styles */
nav {
    background: #839cad;
    padding: 10px 0;
}

.nav-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav-links li {
    margin: 0 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-links a:hover {
    text-decoration: underline;
    color: #fff; /* You can add a hover effect here */
}

.icon {
    filter: grayscale(100%) brightness(100%);
    width: 40px;
    height: 40px;
    opacity: 0.7
}

@media (max-width: 768px) {
    header {
        height: 200px;
    }
}